@use "./variables" as vars;

#about__description > p {
    text-align: left;
}

#about {
    display: flex;
    align-items: center;
    background: vars.$primary-blue;
    color:vars.$primary-white;
    padding: 3rem 2rem;
    }

.about__resume_button {
    padding: 1rem 2rem;
    font-family: "Fira Code";
    font-size: 1.2rem;
    font-weight: 500;

    // width: 100%;
    background: vars.$primary-white;
    color: vars.$primary-blue;
}