@use "./_variables.scss" as vars;


#homepage {
    font-size: 3rem;
    /* min-width: 100%; */
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:1rem;
  }

  #homepage > a {
    color:black;
  }

  .homepage__link {
    background: vars.$primary-blue;
    display: inline;
    vertical-align:middle;
  }


  #homepage__projects{
    grid-row: 1/3;
    grid-column: 1/4;
  }

  #homepage__about {
    grid-row: 1/3;
    grid-column: 4/6;
  }

 #homepage__contact {
    grid-row: 3/5;
    grid-column: 4;
  }

 #homepage__github {
    grid-row: 3;
    grid-column: 5;
  }

 #homepage__project1 {
    grid-row: 3/5;
    grid-column: 1;
  }

  #homepage__project2 {
    grid-row: 3/5;
    grid-column: 2;
  }
  
  #homepage__project3 {
    grid-row: 3/5;
    grid-column: 3;
  }

